body {
	margin: 0;
	background-color: #FAFAFA;
}

header {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size:xx-large;
	text-align: center;
	background-color: #ffd53b;
	color: white;
	font-weight: bold;
}

#content {
	display: flex;
}

#mapwrap{
	width:50%;
	top: 10px;
	height:817PX;
	flex:auto;
}
.category, .category *{margin:0;padding:0;color:#000;}   
.category {position:absolute;top:15%;left:1%;width:200px;height:50px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
.category .menu_selected {background:#959393;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;height:50px;} 
.category li{list-style:none;float:left;width:50px;height:45px;cursor:pointer;} 
.category .ico_comm {display:block;margin:0 auto 2px;width:22px;height:16px;} 
.category .ico_all {background-position:-10px 0;}  
.category .ico_pothole {background-position:-10px -36px;}   
.category .ico_bump {background-position:-10px -72px;} 
.category .ico_school {background-position:-10px -108px;} 

#map{
	width:50%;
	height: 100%;
	flex:auto;
	float: left;
}

#statistics {
	width:50%;
	height: 408.5px;
	flex:auto;
	float: right;
}

#user_info {
	width:50%;
	height: 408.5px;
	background-color: #FAFAFA;
	flex:auto;
	float: right;
	align: center;
}

#users_table {
	margin:auto; 
	border-color: #000;
    border: 2px solid #444444;
	width: 95%;
	height: 95%;
	background-color: white;
	border-collapse: collapse;
	border-radius: 5px;
	border-style: hidden;
	box-shadow: 0 0 0 1px #000;
}

#user_table_1 {
	margin-top:8%;
	margin-right: 5%;
	border-color: #000;
    border: 2px solid #444444;
	float: right;
	width: 30%;
	height: 25%;
	background-color: white;
	border-collapse: collapse;
	border-radius: 5px;
	border-style: hidden;
	box-shadow: 0 0 0 1px #000;
}

#user_table_1 th {
	background-color: #cefbbb;
}

#user_table_2 {
	margin:auto; 
	margin-top: 3%;
	border-color: #000;
    border: 2px solid #444444;
	width: 90%;
	height: 25%;
	background-color: white;
	border-collapse: collapse;
	border-radius: 5px;
	border-style: hidden;
	box-shadow: 0 0 0 1px #000;
}

tr, td, th {
	text-align: center;
	border-bottom: 1px solid #444444;
}

th {
    background-color: #bbdefb;
  }

#my_modal {
	display: none;
	width: 70%;
	height: 60%;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 5px;
}

#my_modal .modal_close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

#user_img {
	padding: 7%;
	padding-top: 9%;
	padding-bottom: 5%;
	width: 100px;
	height: 100px;
}
